<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chat Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-size: 13px;
        }
        
        form {
            width: 80%;
            padding: 3px;
            position: fixed;
            bottom: 0px;
        }
        
        form input {
            border: solid 1px;
            padding: 10px;
            width: 85%;
        }
        
        #conversation {
            list-style-type: none;
        }
        
        #conversation li {
            padding: 5px 10px;
        }
        
        #conversation li:nth-child(odd) {
            background-color: #eee;
        }
    </style>
</head>

<body>
    <div class="container">
        <ul id="conversation">

        </ul>

        <form>
            <input type="text" name="message" id="message">
            <button class="btn btn-success" id="btn_send">Send</button>
        </form>
    </div>
    <script type="text/javascript">
        var socket = io.connect("http://localhost:3000");
        socket.on("connect", function() {
            console.log("user is connectting in server");
            // ask name
            var username = prompt("What is your name ?");
            // notify to server
            socket.emit("adduser", username);
        });

        //listen update_message event
        socket.on("update_message", function(data) {
            $("#conversation").append("<li> <b> " + data.sender + ": </b> " + data.message + "</li>");
        });

        $("#btn_send").click(function(e) {
            var message = $("#message").val();
            $("#message").val("");

            if (message.trim().length != 0) {
                socket.emit("send_message", message);
            }
        });

        $("form").submit(function() {
            return false;
        });

        // $("#message").keypress(function(e) {
        //     // enter event
        //     if (e.which == 13) {
        //         $("#btn_send").trigger("click");
        //     }
        // });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>